body {
    margin: 0;
    padding-top: 130px;
    font-family: Arial, sans-serif;
    background-color: #454545;
    color: white;
}

.header {
    position: fixed;  
    top: 0;
    left: 0;
    right: 0;
    margin: 2%;
    padding: 15px;
    padding-left: 0;
    padding-right: 30px;
    background: rgba(30, 30, 30, 0.9);
    color: white;
    text-align: center;
    border-radius: 60px;
    box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    height: 80px;
}

.header .nav-menu {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header .nav-menu li {
    display: inline-block;
    position: relative;
}

.header .nav-menu li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    top: 1.5em;
    background-color: #ca0000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

.header .nav-menu li:hover::after {
    transform: scaleX(.8);
    transform-origin: bottom center;
  }

.header .nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

.header .nav-menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(30, 30, 30, 0.9);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    padding: 10px;
}

.header .nav-menu .dropdown-content a {
    display: block;
    padding: 5px 10px;
}

.header .nav-menu li:hover .dropdown-content {
    display: block;
}